<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://firebasestorage.googleapis.com/v0/b/veterinariaproyectodps.appspot.com/o/images%2Fmascotas.jpg?alt=media&token=43526739-83a9-4d84-9aec-fc3bcdb0a915" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/veterinariaproyectodps.appspot.com/o/images%2Festetica_mascotas.jpg?alt=media&token=78009890-5032-4488-83db-d04604f0bbb8" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/veterinariaproyectodps.appspot.com/o/images%2Fbigstock-dog-beagle-having-fun-running-294325987-1.jpeg?alt=media&token=b547c415-dc9f-4021-bcea-e78c918b1c87" alt="New York" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
